@{
    ViewData["Title"] = "Home Page";
}

<div class="home-site-bg d-flex justify-content-center align-items-center vstack gap-3">
    <h1 class="highlight-text">Reštaurácia UTB</h1>
    <button type="button" class="btn btn-lg fs-4" style="background-color: darkorange">Rezervacie</button>
</div>

<div class="home-site-gap"></div>

<div class="text-center" >
    <h2>Naše najlepšie jedlá</h2>
</div>

<div class="container images-container-size" style="margin-top:2rem;">
    <div class="row g-3 text-center">
        <div class="col-md-4">
            <!-- Jedlo 1 -->

            <img src="/images/halusky.jpg" class="rounded mx-auto d-block home-site-img" alt="There Should be an image here">
            <div class="text-black">Item 1</div>
        </div>
        <div class="col-md-4">
            <!-- Jedlo 2 -->

            <img src="/images/halusky.jpg" class="rounded mx-auto d-block home-site-img" alt="There Should be an image here">
            <div class="text-black">Item 2</div>
        </div>
        <div class="col-md-4">
            <!-- Jedlo 3 -->

            <img src="/images/halusky.jpg" class="rounded mx-auto d-block home-site-img" alt="There Should be an image here">
            <div class="text-black">Item 3</div>
        </div>
    </div>
</div>

<div style="margin-top:4rem;"></div>

<div class="d-flex justify-content-center">
    <div id="about" class="bg-secondary row align-items-stretch">
        <div class="small-header-align col-6 d-flex flex-column justify-content-center">
            <h5 class="text-start text-light">O nás</h5>
            <h3>Špička vo varení</h3>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur ligula sapien, pulvinar a vestibulum quis, facilisis vel sapien. 
                Nunc tincidunt ante vitae massa. Nullam eget nisl. Curabitur bibendum justo non orci. Nulla turpis magna, cursus sit amet, suscipit a, 
                interdum id, felis. Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. 
                Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat. 
                Cras elementum. Etiam dictum tincidunt diam. Mauris metus. Aliquam ante. Nulla non arcu lacinia neque faucibus fringilla.</p>
        </div>
        <div class="col-6 d-flex">
            
        </div>
    </div>
</div>

<!-- Spacing pre footer lebo margin-top nejde :) -->
<div style="height:100px;">
</div>
